.add {
    margin-left: 70%;
    margin-right: 0%;
}

.timer {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 0 5px;
}

.editable--form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
}

.editable--form--btn {
    padding: 2rem;
}
.round-time-bar {
width: 100%;
height: 20px;
background-color: #f0f0f0;
border-radius: 10px;
overflow: hidden;
}

.round-time-bar div {
height: 100%;
background-color: #4caf50; /* Change this color to your preferred color */
border-radius: 10px;
width: 0; /* Set initial width to zero *//* This duration should match the timer duration */
}